colors {
  /* Material */
  background-color: #37474f;
  background-color: #263238;

  /* Material Palenight Darker */
  background-color: #23232D; /* Dark RGBA(35, 35, 45, 1)*/
  background-color: #2c2c36; /* Lighter RGBA(44, 44, 54, 1)*/
  color: #575772; /* Accent Color RGBA(87, 87, 114, 1)*/
  color: #959DCB; /* Foreground RGBA(149, 157, 203, 1)*/

  /* Discord fonts */
  color: #fff;
  color: hsla(0,0%,100%,.6);
  color: #7289da; /* Discord Accent RGBA(114, 137, 218, 1)*/
  color: #e0e0e0; /* Gray Text */
}
